
extension/vendor
*.lock
.sass-cache

node_modules
npm-debug.log

*~
.DS_Store
.idea
.vagrant
target
neo4J-cleanup-addon.iml
log-test.txt

extension/src/panel/panel.js
extension/src/vendors/metisMenu.min.js
extension/src/vendors/bootstrap.min.js