#page-wrapper {
  padding-top: 20px;
}

#digest-time-range-slider{
  margin-top: 10px;
}

#digest-rate-range-slider{
  margin-top: 10px;
}

#digest-time-distribution-range-slider{
  margin-top: 20px;
}

.rickshaw_annotation_timeline .annotation.active .content {
  display: inline-block;
}

.rickshaw_annotation_timeline .annotation:hover .content{
  display: inline-block;
}

.rickshaw_annotation_timeline .annotation .content {
  width: auto;
}